<div class="row oner">
  <div class="oner">
    <h2>Edit Your Post</h2>
  </div>
</div>
{{#each posts}}
  <form
    width="100%"
    class="editpost"
    onsubmit="setTimeout(function(){window.location.reload();},10);"
  ><label><h3>Post Title</h3></label><br />
    <input
      class="post-title-input"
      type="text"
      width="300px"
      id="ptinput"
      value="{{title}}"
    /><br /><label><h3>Post Content</h3></label><br />
    <textarea
      class="post-title-input"
      type="text"
      cols="40"
      rows="5"
      id="pstcnt"
    >{{content}} {{category.catname}}</textarea><label for="category"><h3>Choose
        a Category:</h3></label>

    <select name="category" id="cat">
      <option value="{{category.id}}">{{category.catname}}</option>
      {{#each categories}}<option value="{{id}}">{{catname}}</option>{{/each}}
    </select><br /><button
      type="submit"
      class="btn btn-primary"
    >Post</button></form>{{/each}}

<script src="/js/edit.js"></script>