<form width="100%" class="submitpost"><label><h3>Post Title</h3></label><br />
  <input class="post-title-input" type="text" width="300px" id="ptinput" /><br
  /><label><h3>Post Content</h3></label><br />
  <textarea
    class="post-title-input"
    type="text"
    cols="40"
    rows="5"
    id="pstcnt"
  ></textarea><br /><button
    type="submit"
    class="btn btn-primary"
  >Post</button></form>
{{#each posts}}
  <div class="card mb-3" style="width: 80%;">
    <div class="row g-0">
      {{! <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="..." />
      </div> }}
      <div class="col-md-12">
        <div class="card-body">
          <h2 class="card-title">{{title}} </h2>
          <h3 class="card-title">User: {{user.name}} </h3>
          <h5 class="card-title">Category: {{category.name}} </h5>
          <p class="card-text">{{content}}</p>
          <ul class="list-group list-group-flush">
            {{#each comments}}
              <li class="list-group-item">{{comment}}</li>
            {{/each}}

          </ul>
          <p class="card-text"><small class="text-muted">Date:
              {{date}}</small></p>
        </div>
        <h3>Leave a comment</h3>
        <form width="100%" class="leavecomment" id="leavecomment">
          <input
            class="postid"
            type="number"
            width="300px"
            id="pstid"
            value="{{id}}"
          />
          <textarea
            class="comments"
            type="text"
            cols="40"
            rows="5"
            id="comment"
          ></textarea><br /><button
            type="submit"
            class="btn btn-primary"
          >Post</button></form>
      </div>
    </div>
  </div>{{/each}}