<div class="oner"><h1>
    {{#each category}}
      {{catname}}

    {{/each}}posts</h1></div>

{{#if posts.length}}
  {{#each posts}}
    <div class="card mb-3" style="width: 80%;">
      <div class="row g-0">
        {{! <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="..." />
      </div> }}
        <div class="col-md-12">
          <div class="card-body">
            <a href="/posts/{{id}}"><h2 class="card-title">{{title}} </h2></a>
            <p class="card-text">{{content}}</p>
            <div class="meta"><h5 class="card-title left">Author:
                <a href="/postsbyuser/{{user.id}}">{{user.name}}</a>
              </h5>
              <h5 class="card-title right">Category:
                <a href="/postsbycat/{{category.id}}">{{category.catname}}
                </a></h5>
            </div>
            <div class="date">
              <p class="card-text"><small class="text-muted">Posted:
                  {{format_time date}}</small></p></div>
            <div class="comments">
              {{#if comments.length}}<h3>Comments</h3>{{/if}}
              <ul class="list-group list-group-flush">
                {{!-- {{comment.comment}}
              -
              {{comment.id}} --}}
                {{#each comments}}
                  <li class="list-group-item"><div
                      class="commentdiv"
                    >{{comment}}</div>
                    <small class="text-muted"><b>User:
                        <a
                          href="/postsbyuser/{{user.id}}"
                        >{{user.name}}</a></b></small>
                    -
                    <small class="text-muted">{{format_time date}}</small>

                  </li>
                {{/each}}

              </ul>

            </div></div>
        </div>
      </div></div>{{/each}}
{{/if}}
{{! <script src="/js/index.js"></script> }}
<script src="/js/profile.js"></script>